/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-page {
    width: auto;
}

.open_sidebar {
    overflow:hidden;
    margin-bottom:20px;
}
.open_sidebar a{
    float:right;
}

.facet_filters .close_bar,
.open_sidebar,
.close_sidebar_button {
    display:none;   
}

@media(max-width:768px){
    .facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
}

.fl-slide-text-center .fl-slide-photo-wrap img{
	max-height:none;
}

.fl-module-content-slider .bx-wrapper{
	margin:0 auto 0;
}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{
	bottom:30px;
}

.nav-phone {
	float:right;position:relative;order:2;margin-left:35px;
}
.footermenu .menu-item a{color: #FBFBFB;	font-family: Roboto;	font-size: 12px;	line-height: 23px;}
.home-tab .fl-tabs-labels{
    background-color: #384E77;
}
.fl-page-bar{
	height: 41px;   
    background-color: #475481;
}
.fl-page-bar-text.fl-page-bar-text-1 a{
	height: 18px;
    color: #FFFFFF;
    font-family: "PT Sans Narrow";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.54px;
    line-height: 20px;
    text-align: center;
}
.fl-page-header {
	border: 1px solid #E7E3E3;	
    background-color: #FFFFFF;
	color: #000000;	
	font-family: "PT Sans Narrow";
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a, .fl-page-nav-right .fl-page-nav-wrap a, .fl-page-nav-right .fl-page-nav-wrap a *, .fl-page-nav-right .fl-page-nav-wrap a.fas, .fl-page-nav-right .fl-page-nav-wrap a.fab {
	color: #000000;	
}

.hardwood-flooring {	height: 54px;	width: 500px;	color: #FFFFFF;	font-family: "Playfair Display";	font-size: 55px;	line-height: 32px;	text-align: center;}

 a.fl-button{ border-radius: 3px;	background-color: #485481; background:#485481}
 
 .fullWidthTab .njba-tabs-panel-content {
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-title{
    font-size: 18px;
    padding: 0;
}
.hp-products-7 .fl-callout .fl-callout-content{
    position: relative;
}
.hp-products-7 .fl-callout .fl-callout-content-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 15px;
}
.hp-products-7 .fl-callout .fl-callout-text{
    font-size: 90%;
}

.hp-product-7 .njba-tabs .njba-tab-title{
    text-transform: uppercase;
}
.hp-products-7 .njba-content:after{
    content: "";
    display: table;
    clear: both;
}
@media (min-width:769px) {
.hp-product-7 .text-content {
   padding: 100px 0 100px 200px !important;
}
.hp-product-7 .text-img{
       padding: 100px !important;
}

.hp-product-7 .njba-tabs.njba-tabs-style-7.njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}

.hp-product-7 .njba-tabs-labels{
	margin: 0 auto;
    width: auto;
}
/* .njba-tabs-panel-content { */
	/* border:0; */
/* } */
/* .njba-tabs-panel-content > p { */
	/* margin:0 0 0 10px; */
/* } */


.njba-tabs .njba-tab-label-inner,
.njba-tabs .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c7fe7c8b3651 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c7fe7c8b3651 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs .njba-tabs-panel-content,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner {
    border: none!important;
}

.njba-tabs .njba-tab-title {
    font-weight: 700;
    padding-bottom: 5px;
}

.njba-tab-active .njba-tab-title {
    border-bottom: 3px solid #4A4A4A;
}

.njba-logo-inner {
    background: none;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button {
    padding: 10px 35px;
    border: 1px solid #6a6a6a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
    background: #767676;
    margin: 10px 0 0;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button:hover {
    background: #fff;
    border-color: #767676;
    color: #767676;
}

.njba-out-side {
	border:0;
}

.banner_coupon_bar .fl-callout-title , .banner_coupon_bar .fl-callout-text-wrap{
    display:inline-block;
}
.banner_coupon_bar .fl-callout-text-wrap{
    float:right;
}
.zindex999{
    z-index:999;
    position: relative;
}



/* Css Start From 17/04/2019 */

@media only screen and (max-width: 480px) {
	.njba-tabs-label{
		margin-top: 10px; !important
    	margin-bottom: 10px; !important
}
}

